body {
  text-align: center;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  background: blue;
  padding: 20px 0 20px 0;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  text-align: center;
}

#submit {
  background: greenyellow;
  color: white;
  height: 50px;
  width: 200px;
}

.input-field {
  width: 100%;
  height: 20px;
  padding: 0;
  margin: 0;
}

.radio-input {
  float: left;
}

.left-label {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  text-align: right;
}

.right-input {
  display: inline-block;
  width: 200px;
  width: 50%;
}

.radio {
  display: block;
}

.checkbox-input {
  float: left;
}
