body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: lightblue;
    text-align: center;
    vertical-align: center;
}

#quotePlace {
    font-family: 'Barrio', cursive;
    font-size: 1.5em;
    color: white;
    flex: 1 0 auto;
    text-align: center;
    margin: 20px;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 50vh;
    min-width: 50vw;
    border-radius: 15px;
    background: blue;
}

.quoteButton {
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
    background-color: lightgoldenrodyellow;
}

#tweet-quote {
    box-sizing: border-box;
    text-align: center;
    font-size: 1.2em;
    background-color: lightgoldenrodyellow;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    line-height: 50px;
}

#tweet-quote:hover,
.quoteButton:hover {
    cursor: pointer;
    background-color: lightslategray;
}