.row{
	display:block;
	position:relative;
	text-align:center;
}

.selectorButton{
	width:100px;
	 height: 50px;
 	background: #2b303b;
 	border: none;
    font-size: 10pt;
    border-radius: 5px;
    color: #fff;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    vertical-align:middle;
    text-align:center;
    font-family:'Roboto', sans-serif;
    font-size:1.2em;
}

.selectorButton:hover{
	background: #ADD8E6;
	color:white;
}

.activebutt{
	background: #ADD8E6;
	color:white;
}

button{
	position:relative;
}

body{
	background-color:white;
}

.contentList{
	
}
ul
{
	position: relative;
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 0;
    list-style-type:none;
}

li{
	color:white;
 	border-radius:5px;
    background-color:white;
    margin-top:5px;
    height:100px;
   
}

.online{
	background-color:#32CD32;
   font-family:'Roboto', sans-serif;
}

.online:hover{
	cursor:pointer;
}

.offline{
	background-color:red;
	   font-family:'Roboto', sans-serif;
}

.offline:hover{
	cursor:pointer;
}

.invalid{
	background-color:grey;
}

.smallImage{
	position:relative;
	width:80px;
	height:80px;
	float:left;
    top:10%;
    border-radius:50%;
    margin-left:10px;

}


