body{
	font-family: 'Rajdhani',sans-serif;
} 

.circle {
	position:relative;
	height:10vw;
	width:10vw;
	border-radius:50%;
}


#content {
	position:relative;
	display:inline-block;
	left:40vw;
	width:20vw;
	margin-top:1%;
}

/* YELLOW*/
#circle1 {
	position:absolute;
	left:0;
	background-color:#e5e500;
}
/*GREEN */
#circle2 {
	top:0%;
	left:10vw;
	background-color:#00b300;
}

/*RED Color */
#circle3 {
	position:absolute;
	left:0;
	background-color:#b20000;

}

/*BLUE Color */
#circle4 {
	bottom:0;
	left:10vw;
	background-color:#000099;
}

.signature {
	position:relative;
}

.header {
	text-align:center;
	font-size:5em;
}

.startButton {
	border-radius:10%;
	font-size:2.5em;
	padding:1%;
	justify-content: center;
	display:inline-block;
}

.test {
	text-align:center;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:focus + .slider {
  box-shadow: 0 0 1px red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#strictAndNotif {
	font-size:1.2em;
	text-align:center;
	line-height:100px;
	margin-top:1%;
	color:red;
	transition:opacity 1s ease-in-out;
}

.fa-play-circle {
	font-size:2em;
	color:black;
}

.fa-play-circle:hover {
	color:blue;
	cursor:pointer;

}

.fa-play-circle:focus {
	font-size:1em;
	color:blue;
	cursor:pointer;

}

a {
	text-decoration:none;
}

