.App {
    text-align: center;
}

.previewDiv {
    text-align: justify;
    padding: 10px;
    background-color: #EDEDED;
    height: 60vh;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

.writeArea {
    margin-top: 5vh;
    width: 80%;
    height: 20vh;
}

.content {
    text-align: center;
}