* {
    box-sizing: border-box;
}

.cell {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
    border: 1px solid black;
    float: left;
}

.live {
    background: white;
}

.dead {
    background: purple;
}

.new-life {
    background: greenyellow;
}

.App {
    background: lavenderblush;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    margin: 0;
    padding: 0;
    min-width: 500px;
    min-height: 300px;
    max-width: 500px;
    max-height: 300px;
    outline-style: groove;
    outline-color: black;
}

.row {
    width: 500px;
    height: 10px;
}

.state-button {
    height: 60px;
    width: 120px;
    background: black;
    color: white;
    text-align: center;
    line-height: 60px;
    border-radius: 7.5px;
    margin: 10px;
    transition: border-radius 0.25s;
}

.state-button:hover {
    cursor: pointer;
    background: white;
    color: black;
    border-radius: 15px;
}