body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #B066FE, #63E2FF); }

#root {
  font-family: 'Indie Flower', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

recipeSection {
  align-self: center;
  flex-shrink: 0; }

.line-height-50 {
  line-height: 50px; }

.button-primary {
  flex: 0 0 auto;
  background: white;
  height: 50px;
  width: 50px;
  color: black;
  text-align: center;
  line-height: 50px;
  border-radius: 50%; }

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  flex: 0 0 auto;
  flex-wrap: wrap;
  align-content: flex-start; }

.button-primary:hover {
  cursor: pointer;
  background: grey;
  color: white; }

.recipeMaker {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: stretch;
  flex: 1 0 auto;
  align-self: center;
  min-width: 50vw;
  min-height: 350px;
  height: 60vh;
  background: #69D2E7;
  border-radius: 5%; }

textArea {
  resize: none; }

.center {
  text-align: center; }

.recipeTitle {
  width: 50vw;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.5em;
  border-radius: 10px 10px 0 0;
  margin-bottom: 15px;
  background: grey; }

.recipeTitle:hover {
  background: blue;
  cursor: pointer; }

.recipeWrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  background: #20232a;
  border-radius: 10px;
  padding-bottom: 1vh;
  margin-top: 15px;
  margin-bottom: 15px; }

.ingredientName {
  align-self: stretch;
  flex-shrink: 0;
  font-size: 1.2em;
  margin: 10px;
  border-radius: 5px;
  background: white;
  padding: 5px; }

.deleteButton:hover, .backButton:hover {
  background: red; }

.saveButton:hover {
  background: #28A744; }

textArea {
  font-family: 'Indie Flower', cursive;
  font-size: 1.6em;
  border-radius: 10px;
  width: 70%;
  height: 100%; }

h1 {
  text-align: center;
  color: white; }

.textAreaWrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  min-width: 100%;
  height: 100px; }

.signature {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
  align-self: center;
  color: red; }

a {
  color: lightblue;
  text-decoration: none; }

a:visited {
  color: lightblue; }

a:visited:hover {
  color: white; }
