body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  background: #E0E4CC; }

.button-primary {
  display: inline-block;
  text-align: center;
  background: #F38630;
  color: white;
  height: 8vh;
  width: 8vh;
  line-height: 8vh;
  border-radius: 5%;
  margin: 5%; }

.button-primary:hover {
  cursor: pointer;
  background: #FA6900; }

.recipeMaker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #D3D3D3;
  height: 50vh;
  width: 50vh;
  border-radius: 5%; }

textArea {
  resize: none; }

.center {
  text-align: center; }

.recipeTitle {
  display: flex;
  justify-content: center;
  width: 50vw;
  height: 5vh;
  color: white;
  align-items: center;
  font-size: 1.5em;
  margin-bottom: 1vh;
  border-radius: 10px;
  background: #A7DBD8; }

.recipeTitle:hover {
  border-left: #69D2E7 solid 5px;
  border-bottom: #69D2E7 solid 5px;
  cursor: pointer; }
