body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh; }

.button-primary {
  display: inline-block;
  text-align: center;
  background: blue;
  color: white;
  height: 8vh;
  width: 8vh;
  line-height: 8vh;
  border-radius: 5%;
  margin: 5%; }

.button-primary:hover {
  cursor: pointer;
  background: black; }

.recipeMaker {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #D3D3D3;
  height: 50vh;
  width: 50vh;
  border-radius: 5%; }

textArea {
  resize: none; }

.center {
  text-align: center; }
