.App, .content, .toggleButtons {
  text-align: center;
  font-family: 'Rajdhani', sans-serif; }

.content {
  margin-top: 5vh; }

table {
  border-collapse: collapse; }

.toggleButtons, .selected {
  position: relative;
  display: inline-block;
  background-color: #ADD8E6;
  color: #ffffff;
  height: 5vh;
  width: 8vw;
  font-size: 1em;
  line-height: 3;
  margin: 2vw;
  border-radius: 5%; }

.selected {
  background-color: black; }

.toggleButtons:hover, .selected:hover {
  cursor: pointer;
  background-color: blue;
  color: white; }

.dataSection {
  display: flex;
  justify-content: center; }

.userArea {
  text-align: justify;
  border-left: 0px;
  padding: 10px; }

td, th {
  height: 8vh;
  border: 2px solid black;
  line-height: 5vh;
  min-width: 10vw;
  max-width: 10vw;
  align: center; }

th {
  font-size: 1.2em; }

.index {
  min-width: 2vw;
  max-width: 10vw; }

.points {
  max-width: 10vw; }

tr {
  background-color: #7f7fff; }

tr:nth-child(2n) {
  background-color: #cbcbff; }

.logo {
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  vertical-align: middle; }

.fa-heart {
  color: red; }

a {
  text-decoration: none; }

a:visited {
  color: #87CEFA; }

a:visited:hover {
  color: blue; }
